In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [6]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 5.0MB/s
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 239kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 27.2MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Installing collected packages: cligj, munch, click-plugins, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

In [7]:
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
listings = pd.read_csv('/content/gdrive/My Drive/austin-airbnb/listings.csv')

In [4]:
listings.head()

     id  ... availability_365
0  2265  ...              131
1  5245  ...                0
2  5456  ...              354
3  5636  ...               67
4  5769  ...               79

[5 rows x 16 columns]

In [8]:
nhoods = gpd.read_file('/content/gdrive/My Drive/austin-airbnb/neighbourhoods.geojson')

nhoods.head()

  neighbourhood  ...                                           geometry
0         78739  ...  MULTIPOLYGON (((-97.89002 30.20941, -97.88929 ...
1         78754  ...  MULTIPOLYGON (((-97.63658 30.40266, -97.63754 ...
2         78732  ...  MULTIPOLYGON (((-97.87303 30.43806, -97.87335 ...
3         78737  ...  MULTIPOLYGON (((-98.01876 30.24167, -98.01617 ...
4         78756  ...  MULTIPOLYGON (((-97.72792 30.32906, -97.72760 ...

[5 rows x 3 columns]

In [14]:
grouped_df = listings.groupby(by='neighbourhood')

In [41]:
top_listings = listings['neighbourhood'].value_counts()

In [42]:
nhoods['neighbourhood'] = nhoods['neighbourhood'].astype(int)

In [40]:
nhoods[nhoods['neighbourhood']=='78704']

   neighbourhood  ...                                           geometry
29         78704  ...  MULTIPOLYGON (((-97.75447 30.26507, -97.75410 ...

[1 rows x 3 columns]

In [52]:
top_listing = list(top_listings.keys())

In [58]:
def myfunc(str):
  return str['geometry']

In [59]:
for i in range(0,5):
  geometry = map(myfunc, nhoods['geometry'][nhoods['neighbourhood']==top_listing[i]])
  print(geometry)

<map object at 0x7fbedaa7f210>
<map object at 0x7fbedaacdc50>
<map object at 0x7fbedaacd350>
<map object at 0x7fbedaacda90>
<map object at 0x7fbedaacd910>

In [ ]:
listings['geometry'] = nhoods['geometry'][nhoods['neighbourhood']==top_listing[i]]

In [57]:
df = pd.DataFrame(columns=['neighbourhood', 'geometry'])